:root {
  --primary-white-color: #ffffff;
  --first-bg-color: #e5e5e5;
  --secondary-bg-color: #f1f1f1;
  --primary-text-color: #111518;
  --second-text-color: #b9b9b9;
  --accent-color: #ff6b09;
  --main-font: "Montserrat", sans-serif;
}
body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}

@media screen and (min-width: 1680px) {
  .container {
    max-width: 1314px;
    padding: 0 15px;
  }
}

.section {
  padding: 50px 0;
}

@media screen and (min-width: 768px) {
  .section {
    max-width: 768px;
    padding: 50px 0 71px 0;
  }
}

@media screen and (min-width: 1680px) {
  .section {
    max-width: 1680px;
    padding: 100px 0 62px 0;
  }
}

.form-section {
  background-color: #111518;
  background-image: url("/images/form-mobile.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 320px 507px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .title-page {
    background-image: url("../images/form-mobile@2x.jpg");
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}

.form-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}

.orange-text {
  color: var(--accent-color);
}

.form-input {
  width: 100%;
  height: 48px;
  border: 1px solid var(--primary-white-color);
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 28px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--primary-white-color);
}

.form-input::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.08em;
  color: var(--primary-white-color);
}

.form-input:not(:last-child) {
  margin-bottom: 20px;
}

.btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  min-width: 260px;
  height: 48px;
  padding: 14px 1px;
  cursor: pointer;
  margin-top: 30px;
  border: none;
}

@media screen and (min-width: 768px) {
  .form-section {
    background-image: url("/images/form-tablet.png");
    background-size: 768px 520px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .title-page {
      background-image: url("/images/form-tablet@2x.png");
    }
  }

  .form-title {
    font-size: 26px;
    line-height: 1.307;
  }

  .form-text {
    font-size: 14px;
    line-height: 1.214;
    margin-bottom: 40px;
  }

  .form-input {
    width: 390px;
  }

  .btn {
    margin-top: 11px;
  }
}

@media screen and (min-width: 1680px) {
  .form-section {
    background-image: url("/images/form-desktop.png");
    background-size: 1680px 840px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1680px),
    screen and (min-resolution: 192dpi) and (min-width: 1680px),
    screen and (min-resolution: 2dppx) and (min-width: 1680px) {
    .title-page {
      background-image: url("/images/form-desktop@2x.png");
    }
  }

  .form-title {
    font-size: 46px;
    line-height: 1.304;
    margin-bottom: 50px;
    width: 1090px;
    margin-left: 100px;
  }

  .form-text {
    font-size: 30px;
    line-height: 1.233;
    margin-bottom: 56px;
  }

  .form-input:not(:last-child) {
    margin-bottom: 30px;
  }

  .btn {
    margin-top: 50px;
  }

  .form-input {
    width: 478px;
    height: 70px;
    padding-left: 40px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .form-input::placeholder {
    font-size: 20px;
    line-height: 1.2;
  }

  .btn {
    font-size: 14px;
    line-height: 1.214;
    min-width: 354px;
    height: 70px;
    padding: 27px 25px;
    margin-top: 50px;
  }
}

/* НАША ПРОГРАММА */

.our-programm {
  background-color: #111518;
  padding-bottom: 537px;
}

.programm-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 42px;
  color: var(--primary-white-color);
}

.our-programm-list-item::after {
  content: "";
  position: absolute;
  left: -7px;
  display: block;
  width: 12px;
  height: 12px;
  background: var(--accent-color);
  border-radius: 50%;
}

.our-programm-list {
  padding-left: 30px;
  margin-left: 72px;
  color: var(--primary-white-color);
  position: relative;
  border-left: 1px solid white;
}

.our-programm-list-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.our-programm-list-wrapper-item {
  font-weight: bold;
  font-size: 12px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  color: #ff6b09;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-transform: none;
}

.our-programm-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  opacity: 0.5;
}

.list-wrapper-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .our-programm-list-wrapper {
    display: flex;
  }

  .our-programm-list-wrapper-item {
    margin-right: 50px;
  }

  .programm-title {
    text-align: start;
  }
}

/* Почему нас выбирают */

.programm-container {
  width: 280px;
  background-color: #fff;
  position: absolute;
}

.programm-container-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  /* or 27px */
  letter-spacing: 0.03em;
  width: 180px;
  color: #ffffff;
  margin-bottom: 30px;
}

.programm-container-list {
  padding: 20px 0;
}

.programm-container-list-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  color: #ff6b09;
  margin-bottom: 20px;
}

.programm-container-list-item-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.08em;

  color: #111518;
  margin-top: 10px;
}
